@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  @apply
  bg-light-app dark:bg-dark-app 
  text-light-text-primary dark:text-dark-text-primary
  transition-colors;
}

@layer components {
  .screenshot-button-take {
    @apply p-2 rounded-md border-transparent
    bg-light-surface-secondary dark:bg-dark-surface-secondary
    hover:bg-light-surface-secondary-hover dark:hover:bg-dark-surface-secondary-hover transition-colors
    focus:outline-none focus:ring-2 focus:ring-offset-2 
    focus:ring-offset-light-surface-primary dark:focus:ring-offset-dark-surface-primary focus:ring-brand-hover;
  }

  .screenshot-button-remove {
    @apply p-1 w-10 h-10 rounded-md flex items-end justify-end border-transparent
    text-light-text-secondary hover:text-light-text-primary
    dark:text-dark-text-secondary dark:hover:text-dark-text-primary transition-colors 
    focus:outline-none focus:ring-2 focus:ring-offset-2
    focus:ring-offset-light-surface-primary dark:focus:ring-offset-dark-surface-primary focus:ring-brand-hover;
  }
}

@layer components {
  .feedback-popover-canvas {
    @apply fixed bottom-4 right-4 md:bottom-8 md:right-8 flex flex-col items-end;
  }
  .feedback-popover-trigger {
    @apply rounded-full px-3 h-12 flex items-center
    bg-brand-color hover:bg-brand-hover text-brand-on-brand transition-colors shadow-brand-shadow
      focus:outline-none focus:ring-2 focus:ring-offset-2 
      focus:ring-offset-light-surface-primary dark:focus:ring-offset-dark-surface-primary focus:ring-brand-hover;
  }

  .feedback-popover-trigger-label {
    @apply max-w-0 overflow-hidden transition-all duration-500 ease-linear;
  }
}

@layer components {
  .widget-body {
    @apply bg-light-surface-primary dark:bg-dark-surface-primary relative
      flex flex-col items-center rounded-2xl
      mb-4 p-4 md:w-auto w-[calc(100vw-3rem)] shadow-2xl;
  }

  .widget-footer-text {
    @apply text-xs text-light-text-secondary dark:text-dark-text-secondary;
  }

  .widget-footer-anchor {
    @apply underline underline-offset-2 rounded-sm
      focus:outline-brand-color focus:outline-none;
  }
}

@layer components {
  .loading-placeholder {
    @apply w-6 h-6 flex items-center justify-center overflow-hidden;
  }

  .loading-placeholder-icon {
    @apply w-4 h-4 animate-spin;
  }
}

@layer components {
  .header-button {
    @apply w-8 h-8 absolute
      rounded-full flex items-center justify-center
      text-light-text-secondary hover:text-light-text-primary
      dark:text-dark-text-secondary dark:hover:text-dark-text-primary
      hover:bg-black hover:bg-opacity-10
      focus:outline-brand-hover focus:outline-none
      focus:text-light-text-primary dark:focus:text-dark-text-primary;
  }
}

@layer components {
  .widget-header-title {
    @apply text-xl leading-6 flex items-center gap-2;
  }
}

@layer components {
  .widget-type-canvas {
    @apply flex py-8 gap-2 w-full;
  }

  .widget-type-button {
    @apply bg-light-surface-secondary dark:bg-dark-surface-secondary
      hover:border-brand-color focus:border-brand-color focus:outline-none
      transition-colors py-5 w-24 flex-1 rounded-lg
      flex flex-col items-center gap-2
      border-2 border-transparent;
  }
}

@layer components {
  .widget-content-form {
    @apply my-4 w-full;
  }

  .widget-content-textarea {
    @apply min-w-[304px] w-full min-h-[112px] text-sm
    placeholder-light-text-secondary dark:placeholder-dark-text-secondary
    text-light-text-primary dark:text-dark-text-primary bg-transparent
      border-[1px] border-light-stroke dark:border-dark-stroke rounded-md px-3 py-2
      focus:border-brand-color focus:outline-none focus:ring-brand-hover focus:ring-1 resize-none
      scrollbar-thumb-light-stroke dark:scrollbar-thumb-dark-stroke scrollbar-track-transparent scrollbar-thin;
  }

  .widget-content-send-feedback {
    @apply p-2 bg-brand-color text-brand-on-brand rounded-md border-transparent
      flex-1 flex justify-center items-center text-sm hover:bg-brand-hover
      focus:outline-none focus:ring-2 focus:ring-offset-2
      focus:ring-offset-light-surface-primary dark:focus:ring-offset-dark-surface-primary focus:ring-brand-hover
      transition-colors disabled:opacity-50 disabled:hover:bg-brand-color;
  }

  .widget-content-footer {
    @apply flex gap-2 mt-2;
  }
}

@layer components {
  .widget-success-canvas {
    @apply flex flex-col items-center py-10 w-[304px];
  }

  .widget-success-title {
    @apply text-xl mt-4;
  }

  .widget-success-send-new {
    @apply py-2 px-6 rounded-md mt-6
    bg-light-surface-secondary hover:bg-light-surface-secondary-hover
    dark:bg-dark-surface-secondary dark:hover:bg-dark-surface-secondary-hover
      border-transparent transition-colors text-sm leading-6 
      focus:outline-none focus:ring-2 focus:ring-offset-2 
      focus:ring-offset-light-surface-primary dark:focus:ring-offset-dark-surface-primary focus:ring-brand-color;
  }
}

@layer components {
  .landing-p {
    @apply text-lg md:text-xl leading-[150%] font-normal;
  };

  .landing-h1 {
    @apply text-3xl md:text-4xl leading-[150%] font-black block;
  }
  .landing-h2 {
    @apply text-2xl md:text-3xl leading-[150%] font-medium block;
  }
}

@layer components {
  .landing-inner-section {
    @apply w-full max-w-[1120px] mx-auto flex gap-16;
  }
}